@charset "UTF-8";
@font-face {
  src: url("../fonts/TildaSans-VF.woff2") format("woff2"), url("../fonts/TildaSans-VF.woff") format("woff");
  font-family: "Tilda Sans VF";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../fonts/Forum-Regular.woff2") format("woff2"), url("../fonts/Forum-Regular.woff") format("woff");
  font-family: "Forum";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.page {
  overflow-x: hidden;
  width: 100vw;
  height: 100%;
  font-family: "Tilda Sans VF", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(16px, 4vw, 22px);
  line-height: 1.2;
  color: #ffffff;
}
.page.lock {
  overflow: hidden;
}

.page__body {
  display: grid;
  align-content: start;
  grid-template-rows: 1fr;
  overflow: hidden;
  margin: 0;
  min-width: 320px;
  min-height: 100%;
}
.page__body.lock {
  overflow: hidden;
}

.main {
  background-image: url("../img/page-bg-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main__container {
  padding: 119px 18px;
}
@media (max-width: 768px) {
  .main__container {
    padding: 80px 18px;
  }
}
@media (max-width: 425px) {
  .main__container {
    padding: 50px 10px;
  }
}

.main__title {
  margin: 0 auto 119px;
  text-align: center;
  font-family: "Forum", "Arial", sans-serif;
  font-size: clamp(45px, 8vw, 74px);
  font-style: normal;
  font-weight: 400;
  line-height: 0.899;
  letter-spacing: -1.48px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .main__title {
    margin: 0 auto 80px;
  }
}
@media (max-width: 425px) {
  .main__title {
    margin: 0 auto 50px;
  }
}

.candidates__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  list-style: none;
}

.candidates__item {
  display: flex;
  align-items: end;
}
@media (max-width: 670px) {
  .candidates__item {
    -moz-column-gap: 10px;
         column-gap: 10px;
    justify-content: space-between;
  }
}
@media (max-width: 510px) {
  .candidates__item {
    align-items: center;
  }
}

.candidates__avatar {
  display: flex;
  margin-right: 40px;
  width: 84px;
  height: 84px;
  min-width: 84px;
  border-radius: 15px;
  background-color: #d9d9d9;
  overflow: hidden;
}
@media (max-width: 670px) {
  .candidates__avatar {
    margin: 0;
  }
}
@media (max-width: 425px) {
  .candidates__avatar {
    width: 64px;
    height: 64px;
    min-width: 64px;
  }
}

.candidates__image {
  -o-object-fit: cover;
     object-fit: cover;
}

.candidates__name {
  margin-right: 120px;
  width: 234px;
}
@media (max-width: 670px) {
  .candidates__name {
    margin: 0;
  }
}
@media (max-width: 510px) {
  .candidates__name {
    width: auto;
  }
}

.candidate__vote-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 160px;
  max-height: 46px;
  box-sizing: border-box;
}
.candidate__vote-button.hidden {
  display: none;
}

.candidate__vote-result {
  display: flex;
  align-items: center;
}
.candidate__vote-result.hidden {
  display: none;
}

.button {
  font-family: "Tilda Sans VF", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
  border-radius: 60px;
  max-width: -moz-min-content;
  max-width: min-content;
  cursor: pointer;
}

.button__vote {
  position: relative;
  padding: 13px 27px 13px 56px;
  background-color: #0e0e10;
  border: 1px solid #0e0e10;
  transition: all 0.2s ease;
}
.button__vote:hover {
  background-color: #d9d9d9;
  color: #0e0e10;
  transition: all 0.2s ease;
}
@media (max-width: 768px) {
  .button__vote:active, .button__vote:hover, .button__vote:focus {
    background-color: #0e0e10;
    color: #ffffff;
    outline: 0;
    outline-offset: 0;
  }
}
@media (max-width: 425px) {
  .button__vote {
    padding: 13px 13px 13px 38px;
  }
}
.button__vote::before {
  display: flex;
  margin: auto 0;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 9px;
  width: 34px;
  height: 34px;
  background-image: url("../img/vote-button-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
@media (max-width: 425px) {
  .button__vote::before {
    left: 8px;
    width: 28px;
    height: 28px;
  }
}

.button__submit {
  padding: 14px 42px;
  background-color: #ed41b8;
  border: 1px solid #ed41b8;
  transition: all 0.2s ease;
}
.button__submit:hover {
  background-color: #ffffff;
  color: #ed41b8;
  transition: all 0.2s ease;
}
@media (max-width: 768px) {
  .button__submit:active, .button__submit:hover, .button__submit:focus {
    background-color: #ed41b8;
    color: #ffffff;
    outline: 0;
    outline-offset: 0;
  }
}

.modal {
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6980392157);
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
  z-index: 100;
  display: none;
}
.modal.active {
  display: flex;
}

.modal-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px;
  padding: 34px 46px 40px;
  max-width: 582px;
  background-color: #d9d9d9;
  border-radius: 30px;
  box-sizing: border-box;
}
@media (max-width: 425px) {
  .modal-form__container {
    padding: 34px 30px 40px;
  }
}

.modal-form__title {
  margin: 0 0 34px;
  max-width: 90%;
  text-align: center;
  font-family: "Tilda Sans VF", "Arial", sans-serif;
  font-size: clamp(20px, 6vw, 26px);
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  color: #0e0e10;
}
@media (max-width: 425px) {
  .modal-form__title {
    margin: 0 0 28px;
    max-width: 100%;
  }
}

.modal-form__form {
  width: 100%;
}

.vote-form__container__input {
  margin: 0 0 10px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.vote-form__input {
  padding: 16px 20px;
  font-family: "Tilda Sans VF", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  color: #0e0e10;
  border: none;
  border-radius: 4px;
  opacity: 0.7;
  /* Современные браузеры */
  /* WebKit, Edge */
  /* Edge */
  /* Firefox 4-18 */
  /* Firefox 19+ */
  /* IE 10-11 */
}
.vote-form__input::-moz-placeholder {
  color: rgba(14, 14, 16, 0.5019607843);
}
.vote-form__input::placeholder {
  color: rgba(14, 14, 16, 0.5019607843);
}
.vote-form__input::-webkit-input-placeholder {
  color: rgba(14, 14, 16, 0.5019607843);
}
.vote-form__input::-ms-input-placeholder {
  color: rgba(14, 14, 16, 0.5019607843);
}
.vote-form__input:-moz-placeholder {
  color: rgba(14, 14, 16, 0.5019607843);
  opacity: 1;
}
.vote-form__input::-moz-placeholder {
  color: rgba(14, 14, 16, 0.5019607843);
  opacity: 1;
}
.vote-form__input:-ms-input-placeholder {
  color: rgba(14, 14, 16, 0.5019607843);
}

.vote-form__container__agreement {
  margin: 0 0 26px;
  display: flex;
  -moz-column-gap: 9px;
       column-gap: 9px;
  align-items: center;
}
@media (max-width: 425px) {
  .vote-form__container__agreement {
    margin: 0 0 20px;
  }
}

.vote-form__checkbox {
  width: 20px;
  height: 20px;
  border: 0px;
  border-radius: 4px;
  opacity: 0.7;
  background: #d9d9d9;
}

.vote-form__label__agreement {
  font-family: "Tilda Sans VF", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.24px;
  color: rgba(14, 14, 16, 0.5019607843);
}

.vote-form__container__action {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}

.vote-form__info-text {
  margin: 0;
  max-width: 285px;
  font-family: "Tilda Sans VF", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  color: #0e0e10;
}

.result {
  width: 50%;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media (max-width: 510px) {
  .result {
    max-width: 140px;
    min-width: 140px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media (max-width: 425px) {
  .result {
    max-width: 120px;
    min-width: 120px;
  }
}
.result__voted {
  position: relative;
}
.result__voted .result__span {
  display: block;
}
.result__voted::before {
  position: absolute;
  content: "";
  top: -8px;
  left: -52px;
  width: 34px;
  height: 34px;
  background-image: url("../img/result-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.result__span {
  display: none;
  position: absolute;
  top: -29px;
  left: 0;
  font-family: "Tilda Sans VF", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.result__result-bar {
  position: relative;
  width: 100%;
  height: 13px;
  background-color: rgba(237, 65, 184, 0.4);
  border-radius: 30px;
}
.result__result-bar::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: calc(1% * var(--w));
  height: 100%;
  background-color: #ed41b8;
  border-radius: inherit;
}

.result__percent {
  font-family: "Tilda Sans VF", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.32px;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.inner-wrapper {
  padding-left: 120px;
  padding-right: 120px;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */