// Colors bg
$main-bg-1: #0e0e10;
$main-bg-2: #6de8f3;
$main-bg-3: #971597;
$main-bg-4: #000000b2;

$button-bg-1: #0e0e10;
$button-bg-2: #ed41b8;

$avatar-bg-1: #d9d9d9;

$modal-bg-1: #d9d9d9;

$bar-bg-1: #ed41b866;
$bar-bg-2: #ed41b8;

// Colors text
$main-text-1: #0e0e10;
$main-text-2: #ffffff;

$placeholder-text-1: #0e0e1080;
