.button {
  font-family: "Tilda Sans VF", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  color: $main-text-2;
  border-radius: 60px;
  max-width: min-content;
  cursor: pointer;

}
.button__vote {
  position: relative;
  padding: 13px 27px 13px 56px;
  background-color: $button-bg-1;
  border: 1px solid $button-bg-1;

  &::before {
    display: flex;
    margin: auto 0;
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 9px;
    width: 34px;
    height: 34px;
    background-image: url("../img/vote-button-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
}
.button__submit {
  padding: 14px 42px;
  background-color: $button-bg-2;
  border: 1px solid $button-bg-2;
}
