.modal-form {
}
.modal-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px;
  padding: 34px 46px 40px;
  max-width: 582px;
  background-color: $modal-bg-1;
  border-radius: 30px;
  box-sizing: border-box;

  @media (max-width: 425px) {
    padding: 34px 30px 40px;
  }
}

.modal-form__main-title {
}
.modal-form__title {
  margin: 0 0 34px;
  max-width: 90%;
  text-align: center;
  font-family: "Tilda Sans VF", "Arial", sans-serif;
  font-size: clamp(20px, 6vw, 26px);
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  color: $main-text-1;
  
  @media (max-width: 425px) {
    margin: 0 0 28px;
    max-width: 100%;
  }
}
.modal-form__form {
  width: 100%;
}
